/*
 * style webcam-item
 */
div.webcam_field_widget_webcam object,
div.webcam_field_widget_webcam canvas {
  border: 20px solid #cccffb;
  border-radius: 15px;
}

p.webcam_field_widget_status {
  height: 22px;
  color: #009900;
  font-weight: bold;
}
